.locationInfoContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);

  padding: 1rem;
  margin: 1rem;
  // width: 40%;
  max-width: 700px;

  border-radius: 10px;

  h2 {
    font-size: 1.125rem;
    font-weight: 500;
  }

  ul {
    padding-top: 1rem;

    li {
      list-style: none;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
