@import 'styles/settings/__settings';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-weight: $font-weight-regular;

  color: $color-white;
  background-color: $color-primary;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.wildfires {
  border: 3px solid red;
}

.volcanoes {
  border: 3px solid firebrick;
}

.sea-and-lake-ice {
  border: 3px solid $color-blue-500;
}

.severe-storms {
  border: 3px solid $color-white;
}

li {
  list-style: none;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;

  background-color: $color-blue-700;
  color: white;

  border: none;

  &:focus {
    outline: none;
  }
}
