*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-base: 'Roboto', Arial, Helvetica, sans-serif;

  --color-primary: #edf2f8;
  --color-secondary: #313bac;

  --color-black: #030303;
  --color-white: #ffffff;
  --color-brown: #46364a;

  --color-blue-100: #cdcdd1;
  --color-blue-200: #9a9ba3;
  --color-blue-300: #686974;
  --color-blue-400: #353746;
  --color-blue-500: #030518;
  --color-blue-600: #020413;
  --color-blue-700: #02030e;
  --color-blue-800: #01020a;
  --color-blue-900: #010105;

  --color-pink-500: #f231a5;
  --color-pink-600: #c92386;

  --color-red-500: #ff0000;

  --color-gray-200: #e4e4e4;
  --color-gray-400: #6b7688;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--color-blue-500);
  color: var(--color-white);

  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.wildfires {
  border: 3px solid red;
}

.volcanoes {
  border: 3px solid firebrick;
}

.sea-and-lake-ice {
  border: 3px solid blue;
}

.severe-storms {
  border: 3px solid var(--color-blue-500);
}
