$color-black: #030303;
$color-white: #ffffff;

$color-primary: #030518;
$color-secondary: #f231a5;

$color-blue-100: #d6d8ee;
$color-blue-200: #adb1de;
$color-blue-300: #8389cd;
$color-blue-400: #5a62bd;
$color-blue-500: #313bac;
$color-blue-600: #272f8a;
$color-blue-700: #1d2367;
$color-blue-800: #141845;
$color-blue-900: #0a0c22;

$color-gray-200: #e4e4e4;
$color-gray-400: #6b7688;
