@import 'styles/settings/__settings';

.map {
  flex: 1;
  height: 100vh;
}

.form {
  padding: 1rem;
  flex-basis: 250px;
  height: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    font-size: 1.125rem;
    border-radius: 5px;

    background-color: $color-blue-800;
    color: white;

    border: none;
  }

  label {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: $color-secondary;
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.125rem;
  }

  strong {
    font-size: 1.125rem;
    color: $color-secondary;
    margin-bottom: 0.5rem;
  }

  span {
    margin-bottom: 1rem;
  }
}

.clearButton {
  margin-top: 1rem;
}

.buttonContainer {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 0.5rem;
}
